{
  "client_id": "515606794044-84a5jjskg3oq5e0iovaf7sed0cvu93ls.apps.googleusercontent.com",
  "client_secret": "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",
  "redirect_uris": ["https://developers.google.com/oauthplayground"],
}
